body {
  margin: 0;
  font-family: Arial, sans-serif;
  background-color: #FEE9FB;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

header,
nav {
  text-align: center;
  padding: 10px;
}

header img {
  width: 100px;
  height: 100px;
  margin-top: 200px;
}

nav a {
  margin: 0 10px;
  font-weight: bold;
  text-decoration: none;
  color: black;
}

main {
  flex-grow: 1;
  padding: 100px;
}

.contenido {
  background: white;
  padding: 20px;
  border-radius: 15px;
  text-align: center;
  max-width: 900px;
  margin: auto;
}

.productos-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(180px, 1fr));
  gap: 20px;
  margin-top: 20px;
}

.producto {
  background: #ffe6f2;
  border-radius: 15px;
  padding: 10px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
}

.producto img {
  width: 100%;
  height: 150px;
  object-fit: cover;
  border-radius: 10px;
}

.producto h3 {
  font-size: 16px;
  margin: 10px 0 5px;
}

.producto p {
  font-size: 14px;
  margin: 5px 0;
}

.producto button {
  background-color: #5c2b3f;
  color: white;
  border: none;
  padding: 5px 10px;
  border-radius: 10px;
  cursor: pointer;
  font-size: 14px;
}
/*Footer*/
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
footer {
  background-color: #7d1c4a;
}
.footerContainer {
  width: 100%;
  padding: 20px 30px 20px;
}
.socialIcons {
  display: flex;
  justify-content: center;
}
.socialIcons a {
  text-decoration: none;
  padding: 10px;
  background-color: white;
  margin: 10px;
  border-radius: 50%;
}
.socialIcons a i {
  font-size: 2em;
  color: black;
  opacity: 0, 9;
}
/* Hover affect on social media icon */
.socialIcons a:hover {
  background-color: #111;
  transition: 0.5s;
}
.socialIcons a:hover i {
  color: white;
  transition: 0.5s;
}
.footerBottom {
  background-color: #000;
  padding: 20px;
  text-align: center;
}
.footerBottom p {
  color: white;
}
.designer {
  opacity: 0.7;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-weight: 400;
  margin: 0px 5px;
}
@media (max-width: 700px) {
  .socialIcons a {
    padding: 8px;
    margin: 4px;
  }
}

/*Nav Bar*/
@import url("https://fonts.googleapis.com/css?family=Montserrat|Montserrat+Alternates|Poppins&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Montserrat Alternates", sans-serif;
}
body {
  background:#FEE9FB;
  background-attachment: fixed;
  background-size: cover; 
  background-position: center; 
  background-repeat: no-repeat;
}
.capa {
  position: fixed;
  width: 100%;
  height: 100vh;
  background: #FEE9FB;
  z-index: -1;
  top: 0;
  left: 0;
}
/*Estilos para el encabezado*/
.header {
  width: 100%;
  height: 100px;
  position: fixed;
  top: 0;
  left: 0;
}
.container {
  width: 90%;
  max-width: 1200px;
  margin: auto;
}
.container .btn-menu,
.logo {
  float: left;
  line-height: 100px;
}
.container .btn-menu label {
  color: #000;
  font-size: 25px;
  cursor: pointer;
}
.logo h1 {
  color: #000;
  font-weight: 400;
  font-size: 22px;
  margin-left: 10px;
}
.container .menu {
  float: right;
  line-height: 100px;
}
.container .menu a {
  display: inline-block;
  padding: 15px;
  line-height: normal;
  text-decoration: none;
  color: #000;
  transition: all 0.3s ease;
  border-bottom: 2px solid transparent;
  font-size: 15px;
  margin-right: 5px;
}
.container .menu a:hover {
  border-bottom: 2px solid #c7c7c7;
  padding-bottom: 5px;
}
/*Fin de Estilos para el encabezado*/

/*Menù lateral*/
#btn-menu {
  display: none;
}
.container-menu {
  position: absolute;
  background: #FEE9FB;
  width: 100%;
  height: 100vh;
  top: 0;
  left: 0;
  transition: all 500ms ease;
  opacity: 0;
  visibility: hidden;
}
#btn-menu:checked ~ .container-menu {
  opacity: 1;
  visibility: visible;
}
.cont-menu {
  width: 100%;
  max-width: 250px;
  background: #7d1c4a;
  height: 100vh;
  position: absolute;
  transition: all 500ms ease;
  transform: translateX(-100%);
  z-index: 1;
}
#btn-menu:checked ~ .container-menu .cont-menu {
  transform: translateX(0%);
}
.cont-menu nav {
  transform: translateY(15%);
}
.cont-menu nav a {
  display: block;
  text-decoration: none;
  padding: 20px;
  color: #c7c7c7;
  border-left: 5px solid transparent;
  transition: all 400ms ease;
}
.cont-menu nav a:hover {
  border-left: 5px solid #c7c7c7;
  background: #FEE9FB;
}
.cont-menu label {
  position: absolute;
  right: 5px;
  top: 10px;
  color: #fff;
  cursor: pointer;
  font-size: 18px;
}
/*Fin de Menù lateral*/